.img-logo {
    margin: auto;
    display: flex;
    align-items: stretch;
    width: 363px;
}


@media screen and (max-width: 767px) {
    .header-lg {
        display: none;
        border:solid red;
    }
    header{
        margin-bottom: 63px;
    }
    .img-logo {
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .img-logo {
        width: 100%;
        margin-top: 0;
    }
}

@media screen and (max-width: 575px) {
    .img-logo {
      width: 150px;
      height: 31px;
    }
}