@media (min-width: 576px){

    .img-product {
        height: 250px;
    }
}
@media (min-width: 768px){
    .img-product{
        height: 255px;
    }
}



@media (min-width: 992px){
    .img-product{
        height: 290px;
    }
}

@media (min-width: 1200px){
    .img-product{
        height: 320px!important;
    }
}

.img-product {
    cursor: pointer;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 215px;
}

.love{
    top: 5%;
    position: absolute;
    right: 3%;
}

.card-content h4{
    font-size: 14px;
}

.card-content h5{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
}