.carousel-indicators li{
    /* border:solid red !important; */
    width:10px !important;
    height: 10px !important;
    background-color: grey !important;
    border-radius: 50%;
}

.carousel-indicators li.active{
    background-color: black !important;
    opacity: 0.7 !important;
}

/* .carouselPagination .carousel-indicators{
    bottom: -40px; */
/* } */

.carouselPagination .carousel-control-prev,.carouselPagination .carousel-control-next{
    color: black !important;
}

#carouselHome .carousel-caption{
    bottom: 30%;
    right:10%;
    left:10%;
}


@media screen and (max-width: 575px) {
    #carouselHome .carousel-caption {
        bottom: 10%;
    }
}