/* Style the header */
.header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 102px;
  }

/** WHY HADEEN*/

.theysaid .title li, .theysaid .title{
  letter-spacing:0.3px;
  line-height:1.2rem;
  font-family:'PAPYRUS';
  font-size: 13px;
}

.theysaid h3 {
  font-size: 28px;
  font-family: "DIN Bold";
  color: #1a1a1a;
  text-align: center;
}
.theysaid h4 {
  font-size: 15px;
  color: #345b2b;
  font-family: "SFCompactDisplay-Regular";
  text-align: center;
}
.theysaid {
  margin-bottom: 3%;
}
.containt {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-39%, -50%);
}
.theysaid .text-center {
  /* img {
    padding: 0 5%;
  }
  .playstore {
    float: left;
  } */
}
.theysaid .btn {
  border: 1px solid #345b2b;
  color: #345b2b;
  border-radius: 0;
  margin-bottom: 7%;
  margin-left: 5%;
  margin: 5% 5% 10%;
}
.theysaid h5 {
  font-size: 16px;
  font-family: "SFCompactDisplay-Regular";
  color: #1a1a1a;
}

.theysaid .body-containt h3{
  margin: 8% 5%;
  color: #345b2b;
  text-align: initial;
}

.theysaid .body-containt h5{
  padding: 0 4% 4%;
}
.theysaid .body-containt{
  background-color: #f4f6f6;
}

.theysaid span {
  font-size: 12px;
  color: #7b7c7a;
}
.theysaid .col-md-6 {
  margin-top: 7%;
}
.theysaid span.chevron {
  font-size: 40px;
  font-family: "SFCompactDisplay-Medium";
}
.theysaid h6 {
  font-size: 13px;
  color: #1a1a1a;
  font-family: "SFCompactDisplay-Regular";
  text-align: center;
}
.theysaid .right {
  border: 1px solid #1a1a1a;

  /* h3 {
    font-size: 28px;
    font-family: "DIN Bold";
    color: #1a1a1a;
  } */
}
.theysaid .avatar {
  margin: 0 auto;
  display: block;
}
.theysaid .avatar-detail {
  font-size: 15px;
  font-family: "SFCompactDisplay-Medium";
}
/* ::ng-deep .carousel:focus {
  outline: none;
  height: 80%;
}
::ng-deep .carousel {
  height: 80%;
} */
@media screen and (max-width: 767px) {
  .theysaid .right {
    border: none;
  }
  .theysaid .download-web {
    display: none;
  }
  .theysaid .pourquoiClass {
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    font-size: 24px !important;
  }
}
@media screen and (min-width: 768px) {
  .theysaid .download-mobil {
    display: none;
  }
}
@media screen and (min-width: 575px) and (max-width: 767px) {
  .theysaid .join {
    text-align: center;
  }
  .theysaid h5 {
    text-align: justify;
  }
}
@media screen and (max-width: 767px) {
  .theysaid .containt-mob {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .theysaid .download-mobil {
    display: inline;
  }
}
/* ::ng-deep.carousel-indicators li {
  background-color: #707070;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
::ng-deep.carousel-control-next,
::ng-deep.carousel-control-prev {
  top: unset;
  bottom: 8%;
  opacity: 1;
}
::ng-deep.carousel-control-prev {
  left: 20%;
}
::ng-deep.carousel-control-next {
  right: 24%;
}
::ng-deep.carousel-control-next-icon {
  background-image: url("/assets/images/logo/right.svg");
}
::ng-deep.carousel-control-prev-icon {
  background-image: url("/assets/images/logo/left.svg");
}
::ng-deep.carousel-indicators {
  z-index: 1;
} */

.theysaid .star {
  font-size: 1.5rem !important;
  color: #cccccc !important;
}
.theysaid .filled {
  color: #f8b53e !important;
}

