div.calculator-body{
  /* position: absolute;
  left: 35%;
  top: 10%; */
  border:solid grey;
  padding:10px 5px 5px 5px;
}

.result{
  /* width:100%; */
  margin: 2px;
  height: 50px;
  border:solid grey 1px;
  text-align: right;
  padding-right: 5px;
}

.ligne button{
  margin: 2px;
  width:22.5%;
}

.nav-link{
  font-weight: 600;
  color:dimgrey;
}



/**
MORPION
**/

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

/**
header
*/

button{
  border-radius: 0 !important;
}

.bg-green-light{
  background-color: #dbfbe4;
}


.h-btn {
  background-color: #ffffff !important;
  border: 1px solid #D6D6D6 !important;
  font-size: 13px;
}
.h-btn-grey {
  background-color: #EDEDED !important;
  color: #000000 !important;
  border: 1px solid #D6D6D6 !important;
}
.h-btn-green {
  background-color: #345B2B !important;
  color: #ffffff !important;
  border: 1px solid #D6D6D6 !important;
}
.h-btn-green-green {
  background-color: #345B2B !important;
  color: #ffffff !important;
  border: 1px solid #345B2B !important;
}
.h-btn-green-bordered {
  background-color: #ffffff !important;
  color: #345B2B !important;
  border: 1px solid #345B2B !important;
}
.h-btn-black {
  background-color: #000000 !important;
  color: #ffffff !important;
  border: 1px solid #D6D6D6 !important;
}
.h-btn-black-bordered {
  background-color: #000000 !important;
  color: #ffffff !important;
  border: 1px solid #000000 !important;
}
.h-btn-disabled {
  background-color: #EDEDED !important;
  color: #7a7a7a !important;
  border: 1px solid #D6D6D6 !important;
}

.h-btn-grey-green {
  background-color: #EDEDED !important;
  color: #345B2B !important;
  border: 1px solid #EDEDED !important;
}

.h-btn-lightgreen{
  background-color: #DBFBE4 !important;
}

.h-btn-grey-border-black{
  background-color: #EDEDED !important;
  color: #000000 !important;
  border: 1px solid grey !important;
}

.h-btn-pink{
  background-color: #BC84B2 !important;
  color: white !important;
  border: 1px solid #BC84B2 !important;
}